<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
         <header>
     <div class="flex-container">
     <div style="flex-basis: 65px"><a href="/"><img src="/Makers_logo.jpeg"></a></div>
     <div> <h4>Makers bnb</h4></div>
     <div style="align-self: center"><a href="/user/login">TEXT</a></div>
     <div><a href="/user">TEXT</a></div>
     </div>
  </header>
    <h1>Here is a property you can book</h1>
      <div>
        <p>Property: <%= @property.property_name%></p>
        <p><img src="<%= @property.image_url %>" width="600"></p>
        <p>Description: <%= @property.description %></p>
        <p>location: <%= @property.location %></p>
        <p>Price per night: £<%= @property.price %></p>
        <ul>
        <form method="post" action="/bookings">
        <input type="hidden" id="property_id" name="property_id" value="<%= @property.id %>" />
        <input type="hidden" id="host_id" name="host_id" value="<%= @property.user_id %>" />
        <% @available_dates.each do |date| %>
        <li>
        <input type="submit" name="date" id="property_<%= @property.id %>" value="<%= Date.parse(date).strftime('%e %b %Y') %>">
        </li>
        <% end %>
        </form>
        </ul>
        
      </div> 
  </body>
</html>
