<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
         <header>
     <div class="flex-container">
     <div style="flex-basis: 65px"><a href="/"><img src="/Makers_logo.jpeg"></a></div>
     <div> <h4>Makers bnb</h4></div>
     <div style="align-self: center"><a href="/user/login">TEXT</a></div>
     <div><a href="/properties/new">LISTINGS</a></div>
     </div>
  </header>

    <% if @bookings.length > 0 %>
    <a href="/bookings/approve" class="view-button">You have bookings to approve</a>
    <% end %>
    <h2>Properties available for booking</h2>

    <% @properties.each do |property| %>
    </div>
      <div class="property-card">
        <div class="property-name"><%= property.property_name %></div>
        <div class="property-description"><%= property.description %></div>
        <div class="property-location"><%= property.location %></div>
        <div class="property-price">$<%= property.price %></div>
        <a href="/properties/<%= property.id %>" class="view-button">View Property</a>
      </div>
    <% end %> 
  </body>
</html>

