<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
         <header>
     <div class="flex-container">
     <div style="flex-basis: 65px"><a href="/"><img src="/Makers_logo.jpeg"></a></div>
     <div> <h4>Makers bnb</h4></div>
     <div style="align-self: center"><a href="/properties/new">List a property</a></div>
     <div><a href="/properties">Places to stay</a></div>
     </div>
  </header>
    <h1><%= @property.property_name%></h1>
      <div>
        <p><img src="<%= @property.image_url %>" width="600"></p>
        <p><%= @property.description %></p>
        <p><strong>Location:</strong> <%= @property.location %></p>
        <p><strong>Price per night:</strong> £<%= @property.price %></p>
        <h2>Choose a date</h2>
  
        <form method="post" action="/bookings">
        <input type="hidden" id="property_id" name="property_id" value="<%= @property.id %>" />
        <input type="hidden" id="host_id" name="host_id" value="<%= @property.user_id %>" />
        <% @available_dates.each do |date| %>
        <p><input type="submit" class='view-button' style="margin-bottom: 10px; width: 150px;" name="date" id="property_<%= @property.id %>" value="<%= Date.parse(date).strftime('%e %b %Y') %>"></p>
        <% end %>
        </form>
        
      </div> 
  </body>
</html>
